@import 'style.scss';

.fonctionnement {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.25rem 4.25rem 2.032rem;
    transform: scale(0);
    animation-name: fonctionnement-animation-scale;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
    animation-fill-mode: both;
    animation-delay: 333.3333333333ms;

    .fonctionnement__title {
        display: flex;
        font-size: $--title-font-size;
        width: 100%;
        font-weight: $--title-font-weight;
    }

    .fonctionnement__container__article {
        display: flex;
        flex-direction: column;
        gap: 1.563rem;
        margin-top: 1.625rem;
        width: 100%;

        .fonctionnement__article {
            display: flex;
            position: relative;
            width: 100%;
            padding: 1.75rem 0;
            background: $--background-header-menu;
            border-radius: 1.25rem;
            box-shadow: $--box-shadow-gradiant;

            .fonctionnement__ellipse {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.5rem;
                height: 1.5rem;
                background: $--ellispe-purple;
                color: $--background-header-menu;
                font-size: 0.886rem;
                border-radius: 50%;
                position: absolute;
                left: -0.875rem;
            }

            .fonctionnement__image {
                margin-left: 2.063rem;
            }

            // Dimensions des images
            .image__mobil {
                width: 0.814rem;
                height: 1.306rem;
            }

            .image__list {
                width: 1rem;
                height: 1.308rem;
            }

            .image__store {
                width: 1.125rem;
                height: 1.307rem;
            }

            .fonctionnement__text {
                width: 13.188rem;
                font-size: $--text-header-main-footer-btn-font-size;
                font-weight: $--text-font-weight;
                margin-left: 1.688rem;
                margin-top: 0.219rem;
            }
        }
    }

    @keyframes fonctionnement-animation-scale {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
}

@media (min-width:1428px) {
    .fonctionnement {
        padding: 3.125rem 11.25rem;

        .fonctionnement__title {
            width: 100%;
        }

        .fonctionnement__container__article {
            display: flex;
            flex-direction: row;
            width: 100%;
            gap: 2.25rem;
        }
    }
}