@import"style.scss";

.logo {
    @include display-center-row;
    background: #fff;
    padding: 0.813rem 1.063rem;
    animation-name: header-animation-scale;
    @include animation-scale;

    .logo__back__link {
        margin-right: auto;

        .logo__back__none {
            display: none;
        }

        .logo__back {
            @include display-center-row;
            width: 1.875rem;
            height: 1.875rem;
        }
    }

    .logo__title {
        width: 10.125rem;
        text-align: center;
        margin-right: auto;
        // margin-left: -1.688rem;
    }

    @keyframes header-animation-scale {
        0% {
            transform: scale(0);
        }

        100% {
            transform: scale(1);
        }
    }
}

@media (min-width:1428px) {
    .logo {
        padding: 1.875rem 0.188rem 1.987rem 1.063rem;

        .logo__title {
            width: 12.5rem;
            height: 2.138rem;
        }
    }
}