@import "style.scss";

// Paris,BelleVille
.paris__belleville {
    display: flex;
    justify-content: center;
    background: $--background-paris-belleville;
    padding: 0.813rem;
    gap: 1.063rem;

    .paris__belleville__pin {
        width: 0.75rem;
    }

    .paris__belleville__title {
        font-size: $--text-header-main-footer-btn-font-size;
        font-weight: $--text-font-weight;
    }
}

// Réservez le menu qui vous convient
.reservez {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $--background-header-menu;
    padding-top: 2.438rem;
    padding-bottom: 3.563rem;

    .reservez__text {
        font-size: $--title-font-size;
        font-weight: 700;
        width: 17.188rem;
        height: 4.25rem;
    }

    .reservez__paragraphe {
        display: flex;
        font-size: $--text-paragraphe-header-and-title-menu-font-size;
        font-weight: $--paragraphe-font-weight;
        width: 19.688rem;
        margin-left: 1rem;
    }

    .reservez__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: $--btn-gradiant;
        width: 13.625rem;
        height: 3.125rem;
        border-radius: 25px;
        box-shadow: $--box-shadow-gradiant;
        text-decoration: none;
        margin-left: 0.438rem;
        margin-top: 1.688rem;
        transition-duration: 1.2s;
        opacity: 1;

        .reservez__button__title {
            font-size: 1rem;
            color: #FFFFFF;
            font-weight: $--text-font-weight;
        }
    }
}

.reservez__button:hover {
    transition-duration: 1.2s;
    opacity: 0.8;
    box-shadow: 0rem 0.375rem 0.75rem 0rem rgba(0, 0, 0, 0.45);
}

@media (min-width:1428px) {
    .reservez {
        padding-top: 1.875rem;
        padding-bottom: 1.875rem;

        .reservez__text {
            height: 2.938rem;
            width: 40.625rem;
            font-size: 2.5rem;
        }

        .reservez__paragraphe {
            justify-content: center;
            align-items: center;
            font-size: $--text-paragraphe-header-and-title-menu-font-size;
            width: 32.875rem;
            height: 2.938rem;
            margin-top: 1.125rem;
        }
    }
}


// MENU PALETTE MAIN
.palette__main {
    display: flex;
    height: 17.188rem;
    position: relative;

    .palette__image {
        width: 100%;
    }
}

@media (min-width:1428px) {
    .palette__main {
        height: 40rem;
    }

    .palette__image {
        object-fit: cover;
    }
}