@import "style.scss";

.restaurants {
    @include display-center-column;
    background: $--background-header-menu;
    padding: 3.375rem 1.125rem 3rem 1.063rem;
    animation-name: animation-restaurants-scale;
    @include animation-scale;

    .restaurants__title {
        font-size: $--title-font-size;
        font-weight: $--title-font-weight;
        width: 100%;
        margin-bottom: 1.625rem;
    }

    .restaurants__container__article {
        @include display-center-column;
        gap: 1.125rem;
        width: 100%;
        margin-bottom: 1.125rem;
        animation-name: animation-restaurants-scale;
        @include animation-scale;

        .a__text__decoration__none {
            background: #fff;
            border-radius: 0.938rem;
            text-decoration: none;
            width: 100%;
            box-shadow: $--box-shadow-card ;
            padding-bottom: 0.75rem;
            position: relative;

            .restaurants__image__badge {
                position: relative;
                height: 10.875rem;
                border-radius: 0.938rem;

                .restaurants__image {
                    width: 100%;
                    height: 10.875rem;
                    // background-position: 0% 144%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    object-fit: cover;
                    border-radius: 0.938rem 0.938rem 0px 0px;
                    align-self: stretch;
                }

                .restaurants_badge {
                    @include display-center-column;
                    width: 5rem;
                    height: 1.813rem;
                    background: $--bdg-border-Green;
                    font-size: $--badge-font-size;
                    font-weight: $--text-font-weight;
                    color: $--green-font;
                    position: absolute;
                    top: 0.813rem;
                    right: 0.75rem;
                }
            }

            .restaurants__card__title {
                font-size: $--text-paragraphe-header-and-title-menu-font-size;
                font-weight: $--title-font-weight;
                color: #000;
                margin-left: 0.813rem;
                width: 15.438rem;
                height: 1.25rem;
                margin-bottom: 0.313rem;
                margin-top: 1.125rem;
                animation-name: restaurants-slide-left;
                @include animation-translateX;
            }

            .restaurants__card__paragraphe {
                font-size: $--paragraphe-menu-font-size;
                font-weight: $--paragraphe-font-weight;
                margin-left: 0.813rem;
                color: #000;
                width: 14.313rem;
                height: 1.5rem;
                animation-name: restaurants-slide-left;
                @include animation-translateX;
            }

            .restaurants__button {
                @include display-center-column;
                width: 1.375rem;
                height: 1.375rem;
                position: absolute;
                right: 1.125rem;
                bottom: 2.063rem;

                .like-checkbox {
                    display: none;
                }

                .button-like {
                    @include display-center-row;
                    width: 1.375rem;
                    height: 1.375rem;
                    border: none;
                    cursor: pointer;
                    background-image: url('/images/icon/like.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                @keyframes fillAnimation {
                    0% {
                        background-image: url('/images/icon/like.svg');
                    }

                    100% {
                        background-image: url('/images/icon/Like-second.svg');
                    }
                }

                .like-checkbox:checked+.button-like {
                    animation: fillAnimation 300ms forwards;
                }

                @keyframes resetAnimation {
                    0% {
                        background-image: url('/images/icon/Like-second.svg');
                    }

                    100% {
                        background-image: url('/images/icon/like.svg');
                    }
                }

                .like-checkbox:not(:checked)+.button-like {
                    animation: resetAnimation 300ms forwards;
                }
            }

            @keyframes animation-restaurants-scale {
                0% {
                    transform: scale(0);
                }

                100% {
                    transform: scale(1);
                }
            }

            @keyframes restaurants-slide-left {
                from {
                    transform: translateX(100%);
                }

                to {
                    transform: translateX(0);
                }
            }
        }
    }

    @media (min-width:1428px) {
        padding: 1.875rem 11.25rem;

        .restaurants__title {
            width: 100%;
        }

        .restaurants__container__article {
            @include display-center-row;
            width: 100%;
            gap: 6.25rem;
        }
    }
}