// VARIABLES 
// Colors
$--light-blue: #89C8FA;
$--dark-blue: #003A68;

// Colors title
$--title-menu-font: #000;
$--title-belleville-font: #353535;
$--text-title-font: #101010;

// BACKGROUND COLOR
$--background-header-menu: #F6F6F6;
$--background-paris-belleville: #EAEAEA;
$--background-footer: #353535;

// icon partie fonctionnement
$--ellispe-purple: #9356DC;

// Badge border and selecteur button
$--green-font: #008766;
$--bdg-border-Green: #99E2D0;

// Button and shadow
$--btn-gradiant: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
$--box-shadow-gradiant: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$--box-shadow-card: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);


// Text configuration
$--body-font: 'Roboto', sans-serif;
$--palette-title: 'Shrikhand', cursive;

$--title-font-weight: 700;
$--text-font-weight: 500;
$--paragraphe-font-weight: 300;

// Mobil font-size
$--text-header-main-footer-btn-font-size: 1rem;
$--text-reservez-font-size: 2.5rem;
$--text-paragraphe-header-and-title-menu-font-size: 1.125rem;
$--title-font-size: 1.5rem;
$--paragraphe-menu-font-size: 1.063rem;
$--badge-font-size: 0.875rem;

// Palette menu desktop font-size
$--title-palette-font-size: 1.75rem;
$--paragraphe-palette-font-size: 0.94rem;

// MIXINS


* {
    margin: 0;
    // border: 1px solid blueviolet;
}

body {
    font-family: $--body-font;
}

body {
    margin: 0;
}

.main-page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(175deg, #000000 100%, #fcfcfc 100%);
    box-shadow: $--btn-gradiant ;
    height: 100%;
    width: 100%;
    position: fixed;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
    pointer-events: none;
    animation: background 5s ease-in-out forwards;

    .loader {
        position: fixed;
        margin-bottom: 200px;
        width: 100px;
        height: 100px;
        animation: blur 5s ease-in-out forwards;

        .spin-blend {
            transform: rotateZ(90deg);
            perspective: 1000px;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            color: $--ellispe-purple;
            position: absolute;
            top: 0;
            left: 0;

            &:nth-child(2) {
                transform: rotate(90deg);
            }

            &:nth-child(2) {
                transform: rotate(220deg);
            }

            &:nth-child(3) {
                transform: rotate(270deg);
            }

            &:nth-child(4) {
                transform: rotate(310deg);
            }

            &:nth-child(5) {
                transform: rotate(130deg);
            }

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: inherit;
                height: inherit;
                border-radius: 50%;
                transform: rotateX(70deg);
                animation: 2s spin linear infinite;
            }

            &:after {
                transform: rotateY(70deg);
                animation-delay: 0.4s;
            }
        }
    }

    .loading-text {
        animation: blur 5s ease-in-out forwards;
        position: fixed;
        color: $--ellispe-purple;
        font-family: $--palette-title ;
        font-weight: $--title-font-weight;
        display: flex;
        font-size: 20px;
        gap: 2px;

        .letter {
            animation: 2s bounce infinite;
            transform: rotate(6deg);

            &:nth-child(2) {
                animation-delay: 0.1s;
                color: #FF79DA;
            }

            &:nth-child(3) {
                animation-delay: 0.2s;
                color: $--ellispe-purple;
            }

            &:nth-child(4) {
                animation-delay: 0.3s;
                color: #FF79DA;
            }

            &:nth-child(5) {
                animation-delay: 0.4s;
                color: $--ellispe-purple;
            }

            &:nth-child(6) {
                animation-delay: 0.5s;
                color: #FF79DA;
            }

            &:nth-child(7) {
                animation-delay: 0.6s;
                color: $--ellispe-purple;
            }

            &:nth-child(8) {
                animation-delay: 0.8s;
                color: #FF79DA;
            }

            &:nth-child(9) {
                animation-delay: 1s;
                color: $--ellispe-purple;
            }

            &:nth-child(10) {
                animation-delay: 1.2s;
                color: #FF79DA;
            }

            &:nth-child(11) {
                animation-delay: 1.2s;
                color: $--ellispe-purple;
            }
        }
    }

    @keyframes spin {
        0% {
            box-shadow: 0.5em 0px 0 0px #fff;
        }

        12% {
            box-shadow: 0.5em 0.5em 0 0 $--ellispe-purple;
        }

        25% {
            box-shadow: 0 0.5em 0 0px #fff;
        }

        37% {
            box-shadow: -0.5em 0.5em 0 0 #FF79DA;
        }

        50% {
            box-shadow: -0.5em 0 0 0 #fff;
        }

        62% {
            box-shadow: -0.5em -0.5em 0 0 $--ellispe-purple;
        }

        75% {
            box-shadow: 0px -0.5em 0 0 #fff;
        }

        87% {
            box-shadow: 0.5em -0.5em 0 0 #FF79DA;
        }

        100% {
            box-shadow: 0.5em 0px 0 0px #fff;

        }
    }

    @keyframes bounce {
        0% {
            transform: translateY(0px);
        }

        40% {
            transform: translateY(-5px);
        }

        100% {
            transform: translateY(0px);
        }
    }
}

@keyframes blur {
    0% {
        opacity: 1;

        filter: blur (15px);
    }

    100% {
        opacity: 0;

    }
}

@keyframes background {
    0% {
        opacity: 1;
        filter: blur(1px);

    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        filter: blur(1px);
    }

}