* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(175deg, #000000 100%, #fcfcfc 100%);
  box-shadow: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  height: 100%;
  width: 100%;
  position: fixed;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  pointer-events: none;
  animation: background 2s ease-in-out forwards;
}
.main-page .loader {
  position: fixed;
  margin-bottom: 200px;
  width: 100px;
  height: 100px;
  animation: blur 5s ease-in-out forwards;
}
.main-page .loader .spin-blend {
  transform: rotateZ(90deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #9356DC;
  position: absolute;
  top: 0;
  left: 0;
}
.main-page .loader .spin-blend:nth-child(2) {
  transform: rotate(90deg);
}
.main-page .loader .spin-blend:nth-child(2) {
  transform: rotate(220deg);
}
.main-page .loader .spin-blend:nth-child(3) {
  transform: rotate(270deg);
}
.main-page .loader .spin-blend:nth-child(4) {
  transform: rotate(310deg);
}
.main-page .loader .spin-blend:nth-child(5) {
  transform: rotate(130deg);
}
.main-page .loader .spin-blend:before, .main-page .loader .spin-blend:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 2s spin linear infinite;
}
.main-page .loader .spin-blend:after {
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
.main-page .loading-text {
  animation: blur 5s ease-in-out forwards;
  position: fixed;
  color: #9356DC;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  display: flex;
  font-size: 20px;
  gap: 2px;
}
.main-page .loading-text .letter {
  animation: 2s bounce infinite;
  transform: rotate(6deg);
}
.main-page .loading-text .letter:nth-child(2) {
  animation-delay: 0.1s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(3) {
  animation-delay: 0.2s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(4) {
  animation-delay: 0.3s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(5) {
  animation-delay: 0.4s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(6) {
  animation-delay: 0.5s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(7) {
  animation-delay: 0.6s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(8) {
  animation-delay: 0.8s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(9) {
  animation-delay: 1s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(10) {
  animation-delay: 1.2s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(11) {
  animation-delay: 1.2s;
  color: #9356DC;
}
@keyframes spin {
  0% {
    box-shadow: 0.5em 0px 0 0px #fff;
  }
  12% {
    box-shadow: 0.5em 0.5em 0 0 #9356DC;
  }
  25% {
    box-shadow: 0 0.5em 0 0px #fff;
  }
  37% {
    box-shadow: -0.5em 0.5em 0 0 #FF79DA;
  }
  50% {
    box-shadow: -0.5em 0 0 0 #fff;
  }
  62% {
    box-shadow: -0.5em -0.5em 0 0 #9356DC;
  }
  75% {
    box-shadow: 0px -0.5em 0 0 #fff;
  }
  87% {
    box-shadow: 0.5em -0.5em 0 0 #FF79DA;
  }
  100% {
    box-shadow: 0.5em 0px 0 0px #fff;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blur {
  0% {
    opacity: 1;
    filter: blur 15px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes background {
  0% {
    opacity: 1;
    filter: blur(1px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(1px);
  }
}
.paris__belleville {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
  padding: 0.813rem;
  gap: 1.063rem;
  transform: scale(0);
  animation-name: header-animation-scale;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.paris__belleville .paris__belleville__pin {
  width: 0.75rem;
}
.paris__belleville .paris__belleville__title {
  font-size: 1rem;
  font-weight: 500;
}

.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
  padding-top: 2.438rem;
  padding-bottom: 3.563rem;
  transform: scale(0);
  animation-name: header-animation-scale;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.reservez .reservez__text {
  font-size: 1.5rem;
  font-weight: 700;
  width: 17.188rem;
  height: 4.25rem;
  transform: translateX(100%);
  animation-name: main-slideleft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.reservez .reservez__paragraphe {
  display: flex;
  font-size: 1.125rem;
  font-weight: 300;
  width: 19.688rem;
  margin-left: 1rem;
  transform: translateX(100%);
  animation-name: main-slideleft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.reservez .reservez__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  margin-left: 0.438rem;
  margin-top: 1.688rem;
  transition-duration: 1.2s;
  opacity: 1;
  transform: scale(0);
  animation-name: header-animation-scale;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.reservez .reservez__button .reservez__button__title {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}
@keyframes main-animation-scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes main-slideleft {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}

.reservez__button:hover {
  transition-duration: 1.2s;
  opacity: 0.8;
  box-shadow: 0rem 0.375rem 0.75rem 0rem rgba(0, 0, 0, 0.45);
}

@media (min-width: 1428px) {
  .reservez {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .reservez .reservez__text {
    height: 2.938rem;
    width: 40.625rem;
    font-size: 2.5rem;
  }
  .reservez .reservez__paragraphe {
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    width: 32.875rem;
    height: 2.938rem;
    margin-top: 1.125rem;
  }
}
.palette__main {
  display: flex;
  height: 17.188rem;
  position: relative;
  transform: scale(0);
  animation-name: header-animation-scale;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.palette__main .palette__image {
  width: 100%;
}

@media (min-width: 1428px) {
  .palette__main {
    height: 40rem;
  }
  .palette__image {
    object-fit: cover;
  }
}

/*# sourceMappingURL=main.css.map */
