* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(175deg, #000000 100%, #fcfcfc 100%);
  box-shadow: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  height: 100%;
  width: 100%;
  position: fixed;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  pointer-events: none;
  animation: background 5s ease-in-out forwards;
}
.main-page .loader {
  position: fixed;
  margin-bottom: 200px;
  width: 100px;
  height: 100px;
  animation: blur 5s ease-in-out forwards;
}
.main-page .loader .spin-blend {
  transform: rotateZ(90deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #9356DC;
  position: absolute;
  top: 0;
  left: 0;
}
.main-page .loader .spin-blend:nth-child(2) {
  transform: rotate(90deg);
}
.main-page .loader .spin-blend:nth-child(2) {
  transform: rotate(220deg);
}
.main-page .loader .spin-blend:nth-child(3) {
  transform: rotate(270deg);
}
.main-page .loader .spin-blend:nth-child(4) {
  transform: rotate(310deg);
}
.main-page .loader .spin-blend:nth-child(5) {
  transform: rotate(130deg);
}
.main-page .loader .spin-blend:before, .main-page .loader .spin-blend:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 2s spin linear infinite;
}
.main-page .loader .spin-blend:after {
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
.main-page .loading-text {
  animation: blur 5s ease-in-out forwards;
  position: fixed;
  color: #9356DC;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  display: flex;
  font-size: 20px;
  gap: 2px;
}
.main-page .loading-text .letter {
  animation: 2s bounce infinite;
  transform: rotate(6deg);
}
.main-page .loading-text .letter:nth-child(2) {
  animation-delay: 0.1s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(3) {
  animation-delay: 0.2s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(4) {
  animation-delay: 0.3s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(5) {
  animation-delay: 0.4s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(6) {
  animation-delay: 0.5s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(7) {
  animation-delay: 0.6s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(8) {
  animation-delay: 0.8s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(9) {
  animation-delay: 1s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(10) {
  animation-delay: 1.2s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(11) {
  animation-delay: 1.2s;
  color: #9356DC;
}
@keyframes spin {
  0% {
    box-shadow: 0.5em 0px 0 0px #fff;
  }
  12% {
    box-shadow: 0.5em 0.5em 0 0 #9356DC;
  }
  25% {
    box-shadow: 0 0.5em 0 0px #fff;
  }
  37% {
    box-shadow: -0.5em 0.5em 0 0 #FF79DA;
  }
  50% {
    box-shadow: -0.5em 0 0 0 #fff;
  }
  62% {
    box-shadow: -0.5em -0.5em 0 0 #9356DC;
  }
  75% {
    box-shadow: 0px -0.5em 0 0 #fff;
  }
  87% {
    box-shadow: 0.5em -0.5em 0 0 #FF79DA;
  }
  100% {
    box-shadow: 0.5em 0px 0 0px #fff;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blur {
  0% {
    opacity: 1;
    filter: blur 15px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes background {
  0% {
    opacity: 1;
    filter: blur(1px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(1px);
  }
}
* {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(175deg, #000000 100%, #fcfcfc 100%);
  box-shadow: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  height: 100%;
  width: 100%;
  position: fixed;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  pointer-events: none;
  animation: background 5s ease-in-out forwards;
}
.main-page .loader {
  position: fixed;
  margin-bottom: 200px;
  width: 100px;
  height: 100px;
  animation: blur 5s ease-in-out forwards;
}
.main-page .loader .spin-blend {
  transform: rotateZ(90deg);
  perspective: 1000px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  color: #9356DC;
  position: absolute;
  top: 0;
  left: 0;
}
.main-page .loader .spin-blend:nth-child(2) {
  transform: rotate(90deg);
}
.main-page .loader .spin-blend:nth-child(2) {
  transform: rotate(220deg);
}
.main-page .loader .spin-blend:nth-child(3) {
  transform: rotate(270deg);
}
.main-page .loader .spin-blend:nth-child(4) {
  transform: rotate(310deg);
}
.main-page .loader .spin-blend:nth-child(5) {
  transform: rotate(130deg);
}
.main-page .loader .spin-blend:before, .main-page .loader .spin-blend:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  transform: rotateX(70deg);
  animation: 2s spin linear infinite;
}
.main-page .loader .spin-blend:after {
  transform: rotateY(70deg);
  animation-delay: 0.4s;
}
.main-page .loading-text {
  animation: blur 5s ease-in-out forwards;
  position: fixed;
  color: #9356DC;
  font-family: "Shrikhand", cursive;
  font-weight: 700;
  display: flex;
  font-size: 20px;
  gap: 2px;
}
.main-page .loading-text .letter {
  animation: 2s bounce infinite;
  transform: rotate(6deg);
}
.main-page .loading-text .letter:nth-child(2) {
  animation-delay: 0.1s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(3) {
  animation-delay: 0.2s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(4) {
  animation-delay: 0.3s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(5) {
  animation-delay: 0.4s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(6) {
  animation-delay: 0.5s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(7) {
  animation-delay: 0.6s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(8) {
  animation-delay: 0.8s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(9) {
  animation-delay: 1s;
  color: #9356DC;
}
.main-page .loading-text .letter:nth-child(10) {
  animation-delay: 1.2s;
  color: #FF79DA;
}
.main-page .loading-text .letter:nth-child(11) {
  animation-delay: 1.2s;
  color: #9356DC;
}
@keyframes spin {
  0% {
    box-shadow: 0.5em 0px 0 0px #fff;
  }
  12% {
    box-shadow: 0.5em 0.5em 0 0 #9356DC;
  }
  25% {
    box-shadow: 0 0.5em 0 0px #fff;
  }
  37% {
    box-shadow: -0.5em 0.5em 0 0 #FF79DA;
  }
  50% {
    box-shadow: -0.5em 0 0 0 #fff;
  }
  62% {
    box-shadow: -0.5em -0.5em 0 0 #9356DC;
  }
  75% {
    box-shadow: 0px -0.5em 0 0 #fff;
  }
  87% {
    box-shadow: 0.5em -0.5em 0 0 #FF79DA;
  }
  100% {
    box-shadow: 0.5em 0px 0 0px #fff;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  40% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes blur {
  0% {
    opacity: 1;
    filter: blur 15px;
  }
  100% {
    opacity: 0;
  }
}
@keyframes background {
  0% {
    opacity: 1;
    filter: blur(1px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(1px);
  }
}
.paris__belleville {
  display: flex;
  justify-content: center;
  background: #EAEAEA;
  padding: 0.813rem;
  gap: 1.063rem;
}
.paris__belleville .paris__belleville__pin {
  width: 0.75rem;
}
.paris__belleville .paris__belleville__title {
  font-size: 1rem;
  font-weight: 500;
}

.reservez {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #F6F6F6;
  padding-top: 2.438rem;
  padding-bottom: 3.563rem;
}
.reservez .reservez__text {
  font-size: 1.5rem;
  font-weight: 700;
  width: 17.188rem;
  height: 4.25rem;
}
.reservez .reservez__paragraphe {
  display: flex;
  font-size: 1.125rem;
  font-weight: 300;
  width: 19.688rem;
  margin-left: 1rem;
}
.reservez .reservez__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  width: 13.625rem;
  height: 3.125rem;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  margin-left: 0.438rem;
  margin-top: 1.688rem;
  transition-duration: 1.2s;
  opacity: 1;
}
.reservez .reservez__button .reservez__button__title {
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}

.reservez__button:hover {
  transition-duration: 1.2s;
  opacity: 0.8;
  box-shadow: 0rem 0.375rem 0.75rem 0rem rgba(0, 0, 0, 0.45);
}

@media (min-width: 1428px) {
  .reservez {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }
  .reservez .reservez__text {
    height: 2.938rem;
    width: 40.625rem;
    font-size: 2.5rem;
  }
  .reservez .reservez__paragraphe {
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    width: 32.875rem;
    height: 2.938rem;
    margin-top: 1.125rem;
  }
}
.palette__main {
  display: flex;
  height: 17.188rem;
  position: relative;
}
.palette__main .palette__image {
  width: 100%;
}

@media (min-width: 1428px) {
  .palette__main {
    height: 40rem;
  }
  .palette__image {
    object-fit: cover;
  }
}
.palette__menu {
  display: flex;
  flex-direction: column;
  background: #F6F6F6;
  border-radius: 2.5rem 2.5rem 0rem 0rem;
  position: relative;
  bottom: 3.188rem;
  margin-bottom: -3.188rem;
  padding: 2rem 0.813rem 0rem 0.813rem;
  transform: scale(0);
  animation-name: menu_list;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.palette__menu .palette__title__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  transform: scale(0);
  animation-name: menu_list;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.palette__menu .palette__title__btn .palette__title {
  font-size: 1.75rem;
  font-family: "Shrikhand", cursive;
  margin-right: 1.625rem;
}
.palette__menu .palette__title__btn .palette__button {
  display: flex;
  align-items: center;
  margin-right: 0.313rem;
}
.palette__menu .palette__title__btn .palette__button .like-checkbox {
  display: none;
}
.palette__menu .palette__title__btn .palette__button .palette__button__like {
  display: flex;
  width: 1.375rem;
  height: 1.375rem;
  border: none;
  cursor: pointer;
  background-image: url("/images/icon/like.svg");
  background-repeat: no-repeat;
}
@keyframes fillAnimation {
  0% {
    background-image: url("/images/icon/like.svg");
  }
  100% {
    background-image: url("/images/icon/Like-second.svg");
  }
}
.palette__menu .palette__title__btn .palette__button .like-checkbox:checked + .palette__button__like {
  animation: fillAnimation 2s forwards;
}
@keyframes resetAnimation {
  0% {
    background-image: url("/images/icon/Like-second.svg");
  }
  100% {
    background-image: url("/images/icon/like.svg");
  }
}
.palette__menu .palette__title__btn .palette__button .like-checkbox:not(:checked) + .palette__button__like {
  animation: resetAnimation 2s forwards;
}
.palette__menu .palette__menu__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2.625rem;
  gap: 0.75rem;
  position: relative;
  transform: scale(0);
  animation-name: menu_list;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.palette__menu .palette__menu__article .palette__article__title {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  width: 100%;
  position: relative;
  margin-bottom: 0.625rem;
}
.palette__menu .palette__menu__article .palette__article__title::after {
  content: "";
  position: absolute;
  top: 1.563rem;
  bottom: 0;
  left: 0;
  width: 2.5rem;
  height: 0.188rem;
  background-color: #99E2D0;
}
.palette__menu .palette__menu__article .palette__menu__btn {
  width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-radius: 0.94rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0.125rem 0.25rem 0.938rem #dedede;
  transition: 600ms ease-in-out;
}
.palette__menu .palette__menu__article .palette__menu__btn .like-checkbox {
  display: none;
}
.palette__menu .palette__menu__article .palette__menu__btn .like-checkbox:checked + .palette__menu__btn .palette__card__selecteur {
  margin-right: 0em;
}
.palette__menu .palette__menu__article .palette__menu__btn .palette__menu__text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  padding: 0.938rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transform: translateX(100%);
  animation-name: slideFromLeft;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.palette__menu .palette__menu__article .palette__menu__btn .palette__menu__text .palette__menu__food {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.125rem;
  font-weight: 500;
  margin-bottom: 0.125rem;
  margin-top: 0;
}
.palette__menu .palette__menu__article .palette__menu__btn .palette__menu__text .palette__menu__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.94rem;
  font-weight: 300;
  margin-bottom: 0;
  margin-top: 0.125rem;
}
.palette__menu .palette__menu__article .palette__menu__btn .palette__menu__price {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 90%;
  padding-bottom: 1.063rem;
  font-size: 0.94rem;
  font-weight: 700;
  margin: 0;
}
.palette__menu .palette__menu__article .palette__menu__btn .palette__card__selecteur {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 100%;
  background-color: #99e2d0;
  color: white;
  margin-left: 1em;
  margin-right: -4em;
  overflow: hidden;
  transition-duration: 1500ms;
}
@keyframes menu_list {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideFromLeft {
  from {
    transform: translateX(20%);
  }
  to {
    transform: translateX(0);
  }
}

.button__container {
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  transform: scale(0);
  animation-name: menu_list;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.38, 0.1, 0.67, 0.99);
  animation-fill-mode: both;
  animation-delay: 333.3333333333ms;
}
.button__container .button__like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  width: 11.625rem;
  height: 3.125rem;
  border-radius: 1.563rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  transition-duration: 1.2s;
  opacity: 1;
}
.button__container .button__like .button__title__like {
  text-align: center;
  font-size: 1rem;
  color: #FFFFFF;
  font-weight: 500;
}
.button__container .button__like:hover {
  transition-duration: 1.2s;
  opacity: 0.8;
  box-shadow: 0rem 0.375rem 0.75rem 0rem rgba(0, 0, 0, 0.45);
}

@media (min-width: 1428px) {
  .menu__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 12rem 0rem 12rem;
  }
  .menu__container .palette__menu {
    width: 100%;
    padding: 2rem 13.188rem 0rem 13.188rem;
  }
  .menu__container .palette__menu__btn:hover .palette__card__selecteur {
    margin-right: 0em;
  }
}

/*# sourceMappingURL=menu_palette.css.map */
